.transaction-history {
  min-width: 300px;
  margin: 30px 0;

  font-size: 16px;
  text-align: center;

  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.transaction-history thead tr {
  background-color: rgb(33, 170, 255);
  color: #ffffff;
}

.transaction-history thead tr th:not(:last-child) {
  border-right: 1px solid white;
}

.transaction-history th,
.transaction-history td {
  padding: 12px 15px;
}

.transaction-history tbody tr {
  border-bottom: 1px solid #dddddd;
}

.transaction-history tbody tr td:not(:last-child) {
  border-right: 1px solid #b3b2b2;
}

.transaction-history tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.transaction-history tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
